<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ItemPath":".\/Branco de fundo.colorset\/[universal][][][][][][]"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MitDay/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBICCatalogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Branco de fundo</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>778645674.1545939</string>
					<key>XcodeLocation</key>
					<string>{"Member":""}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MitDay/Assets.xcassets</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTMemberDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: None of the input catalogs contained a matching stickers icon set or app icon set named  "AppIcon".</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
